<ion-header >
  <ion-toolbar color="primary">
    <ion-title>
      Ionic Chat
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row *ngFor="let message of messages">

      <ion-col size="9" *ngIf="currentUser !== message.user" class="message other-message">
        <b>{{ message.user }}</b>
        <br/>
        <span>{{ message.msg }}</span>
        <div class="time" text-right>
          <b>
              {{ message.createdAt | date:'short' }}
          </b>
          </div>
      </ion-col>

      <ion-col offset="3" size="9" *ngIf="currentUser === message.user" class="message my-message">
        <b>{{ message.user }}</b>
        <br/>
        <span>{{ message.msg }}</span>
        <div class="time" text-right>
          <b>
              {{ message.createdAt | date:'short' }}
          </b>
          </div>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar color="light">
    <ion-row align-items-center no-padding>

      <ion-col size="9">
        <textarea autosize maxRows="3" [(ngModel)]="newMsg" class="message-input"></textarea>
      </ion-col>
      <ion-col size="3">
        <ion-button expand="block" fill="clear" color="primary" [disabled]="newMsg===''" 
          class="msg-btn" (click)="sendMessage()">
          <ion-icon name="send-outline" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>

    </ion-row>
  </ion-toolbar>
</ion-footer>